<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="Edit + ' ' + ${student.getSurname()} + ' ' + ${student.getName()}">
        Edit Student</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/students/{id}(id=${student.getId()})}" th:object="${student}">
    <label for="surname">Student's surname</label>
    <input type="text" th:field="*{surname}" id="surname" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname</div>
    <br>
    <label for="name">Student's name</label>
    <input type="text" th:field="*{name}" id="name" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</div>
    <br>
    <label for="age">Student's age</label>
    <input type="text" th:field="*{age}" id="age" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age</div>
    <br>
    <label for="email">Student's email</label>
    <input type="text" th:field="*{email}" id="email" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email</div>
    <br><hr>
    <input type="submit" value="Update student!">
    <hr>
    </form>
    <form method="get" th:action="@{/students/{id}(id=${student.getId()})}">
        <input type="submit" value="Go Back"/>
    </form>
</body>
</html>