<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="Edit + ' ' + ${teacher.getSurname()} + ' ' + ${teacher.getName()}">Edit</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/teachers/{id}(id=${teacher.getId()})}" th:object="${teacher}">
    <label for="surname">Teacher's surname</label>
    <input type="text" th:field="*{surname}" id="surname" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname</div>
    <br>
    <label for="name">Teacher's name</label>
    <input type="text" th:field="*{name}" id="name" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</div>
    <br>
    <label for="age">Teacher's age</label>
    <input type="text" th:field="*{age}" id="age" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age</div>
    <br>
    <label for="email">Teacher's email</label>
    <input type="text" th:field="*{email}" id="email" autocomplete="off">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email</div>
    <br><hr>
    <input type="submit" value="Update teacher!">
    </form>
    <hr>
    <form method="get" th:action="@{/teachers/{id}/edit/addStudent(id=${teacher.getId()})}">
        <input type="submit" value="Add students in teacher's list">
    </form>
    <hr>
    <form method="get" th:action="@{/teachers/{id}/edit/removeStudent(id=${teacher.getId()})}">
        <input type="submit" value="Remove students from teacher's list">
    </form>
    <hr>
    <form method="get" th:action="@{/teachers/{id}(id=${teacher.getId()})}">
        <input type="submit" value="Go Back"/>
    </form>

</body>
</html>